<h2 class="md:text-6xl text-xl place-content-center text-center whitespace-nowrap mt-6 border-b border-black ipad-h1"><%= t('.about_app') %></h2>
<div class="container mx-auto">
  <div data-aos="fade-up">
    <h3 class="md:text-4xl text-xl text-center whitespace-nowrap mt-6 ipad-h1">新規消耗品登録について</h3>
    <%= image_tag "item_new.png", class: "my-5 md:my-10 p-5 md:p-10 text-center about-image rounded-3xl mx-auto" %>
    <div class="my-5 md:my-10 p-5 md:p-10 text-left break-words" data-aos="fade-up">
      <p>新しく消耗品を登録する際には「商品名」「内容量」「1回で使用する量」「使用頻度」を必ず入力する必要があります。</p>
      <p>この時、「内容量」「1回で使用する量」「使用頻度」については数字で入力してください。</p>
      <p>商品画像は「png」「gif」「jpg」「jpeg」「webp」に対応しています。</p>
      <p>自動購入のチェックをonにし、購入先URLに正しいURLを入力することで自動購入機能が利用できます。</p>
    </div>
  </div>
  <div data-aos="fade-up">
    <h3 class="md:text-4xl text-xl text-center whitespace-nowrap mt-6 ipad-h1">LINE通知機能について</h3>
    <%= image_tag "LINE_image.png", class: "my-5 md:my-10 p-5 md:p-10 text-center about-image rounded-3xl mx-auto" %>
    <div class="my-5 md:my-10 p-5 md:p-10 text-left break-words" data-aos="fade-up">
      <p>毎日12時になると、LINEにて消費完了日が1週間以内の商品がある場合にその商品の名前をリマインド通知します。</p>
      <p>リマインド通知を受け取るためには、右上のナビゲーションから友達追加をしてください。</p>
      <p>もしLINE通知を受け取りたくなくなった場合は、myaccountからアカウント情報の編集ページにて通知機能をoffにすることができます。</p>
    </div>
  </div>
  <div data-aos="fade-up">
    <h3 class="md:text-4xl text-xl text-center whitespace-nowrap mt-6 ipad-h1">自動購入機能について</h3>
    <div class="my-5 md:my-10 p-5 md:p-10 text-left break-words" data-aos="fade-up">
      <p>自動購入をするためには、2つの設定が必要となります。</p>
      <p>1. 新規消耗品登録or商品情報の編集ページにて自動購入をonにし、購入先URLに正しいURLを入力してください。</p>
      <p>2. myaccountからアカウント情報の編集ページにてECサイトのIDとパスワードを当アプリに登録してください。</p>
      <p>上記の設定が完了していると、毎日13時に自動購入のプログラムが開始されます。</p>
    </div>
  </div>

  <div data-aos="fade-up">
    <h3 class="md:text-4xl text-xl text-center whitespace-nowrap mt-6 ipad-h1">お問合せ</h3>
    <div class="my-5 md:my-10 p-5 md:p-10 sm:text-center md:text-left break-words">
      <p>自動購入機能が使えない・その他お問合せ等ございましたら<a href="mailto:matsubuchitmk@gmail.com">matsubuchitmk@gmail.com</a>までお問合せください。</p>
    </div>
  </div>
</div>