<h2 class="md:text-6xl text-2xl place-content-center text-center whitespace-nowrap mt-6 border-b border-black ipad-h1">Welcome to Stock Roller</h2>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key} px-4 py-3 rounded m-2.5") %>
<% end %>
<div class="container mx-auto">

  <div class="lg:flex justify-center">
    <div>
      <%= image_tag "session_new.jpg", class: "my-5 md:my-10 p-5 md:p-10 text-center about-image rounded" %>
    </div>
    <div>
      <div class="my-5 md:my-10 p-5 md:p-10 text-center">
        <h3 class="text-3xl md:text-4xl text-left break-words">このアプリケーションについて</h3>
        <p class="text-left break-words">日常で使う消耗品を予め登録しておくことにより、予期せぬ買い忘れを防ぐことができるアプリです。</p>
      </div>

      <div class="my-5 md:my-10 p-5 md:p-10 text-center">
        <h3 class="text-3xl md:text-4xl text-left break-words">このアプリケーションでできること</h3>
        <p class="text-left break-words">消耗品がなくなりそうになったらLineでリマインドが届きます。</p>
        <p class="text-left break-words">外部ECサイト(現在はAmazonのみ対応)と連携すると消耗品がなくなりそうなタイミングで自動で購入されます。</p>
      </div>
    </div>
  </div>

  <div class="container mx-auto my-5 md:my-10 p-5 md:p-10 flex-center">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to image_tag("btn_login_base copy.png"), omniauth_authorize_path(resource_name, provider), method: :post, id: "line_login" %><br />
      <% end %>
    <% end %>
  </div>
</div>