<h2>Log in</h2>

<p>まず、以下のボタンから友達追加をお願いします。</p>
<a href="https://lin.ee/YTbl29b"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>

<%= render "devise/shared/links" %>
