<h1 class="md:text-8xl text-5xl place-content-center text-center ipad-h1"><%= @expendable_item.name %></h1>
<h1 class="md:text-8xl text-5xl place-content-center text-center border-b border-black ipad-h1"><%= t('.edit_item') %></h1>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key} px-4 py-3 rounded m-2.5") %>
<% end %>
<%= render 'form', expendable_item: @expendable_item %>