<h1 class="md:text-8xl text-4xl place-content-center text-center m-4 p-4"><%= t('.new_expendable_item') %></h1>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key} px-4 py-3 rounded m-2.5") %>
<% end %>
<%= render 'form', expendable_item: @expendable_item %>