/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media screen and (max-width:767px) {
  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 18px;
    top   : 15px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition   : 0.5s ease-in-out;
    transition        : 0.5s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    -webkit-transform: rotate(315deg);
    -moz-transform   : rotate(315deg);
    transform        : rotate(315deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    -webkit-transform: rotate(-315deg);
    -moz-transform   : rotate(-315deg);
    transform        : rotate(-315deg);
  }
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: #fff;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.6s;
    width: 100%;
  }
  nav.globalMenuSp ul {
    background: #ccc;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }
  nav.globalMenuSp.active {
    transform: translateX(0%);
  } 
  .sm-admin{
    font-size: 0.7rem;
  }
  .logo-width{
    width: 34px;
  }
  .logo{
    position: absolute;
    top: 20px;
    left: 15px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .about-image{
    width: 100%;
  }
  .none_md
  {
    display: none;
  }
  .background{
    background: url('session_new.jpg') center no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .background h2{
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Arial Rounded MT Bold','Franklin Gothic Medium',sans-serif;
    color: gray;
  }
}

/*自己実装 */
.text-center{
  text-align: center;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.alert-notice{
  background-color: #7dd3fc;
  border-color: #0ea5e9;
  border-width: 1px;
  text-decoration-color: #0369a1;
}
.alert-warn{
  background-color: #fef9c3;
  border-color: #fde047;
  border-width: 1px;
  text-decoration-color: #eab308;
}
.alert-error{
  background-color: #fca5a5;
  border-color: #ef4444;
  border-width: 1px;
  text-decoration-color: #b91c1c;
}
.alert-alert{
  background-color: #fca5a5;
  border-color: #ef4444;
  border-width: 1px;
  text-decoration-color: #b91c1c;
}
.pagination * {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: #374151;
  text-decoration-line: none;
  background-color: #d1d5db;
  border-radius: 0.5rem;
}
.pagination a:hover{
  font-weight: 600;
  text-decoration: #e5e7eb;
  background-color: #9ca3af;
}

@media screen and (min-width:821px){
  .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap-raw{
    width: 28%;
  }
  .wrap::after{
    content: "";
    display: block;
    width: 28%;
  }
  .button-size{
    scale: 2;
  }
  #contents{
    display: flex;
    padding: 40px;
    box-sizing: border-box;
  }
  #main{
    box-sizing: border-box;
    flex: 1;
  }
  #header{
    height: 70px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#333;
    color:#fff;
    text-align: center;
    padding: 20px;
  }
  #header.fixed{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
  }
  nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    }
    
    nav ul li a{
    text-decoration: none;
    color: #FFF;
    padding:10px;
    }
    
    section{
    padding:300px 0;
    }
  body{
    margin: 0;
    padding: 0;
  }
  .logo-width{
    width: 320px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .about-image{
    width: 35rem;
  }
  .none_sm{
    display: none;
  }
  .background{
    background: url('session_new.jpg') center no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .background h2{
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Arial Rounded MT Bold','Franklin Gothic Medium',sans-serif;
    color: gray;
  }
}

@media screen and (min-width:768px) and (max-width:820px){
  .ipad-h1{
    font-size: 4rem;
  }
  #contents{
    display: block;
    padding: 40px;
    box-sizing: border-box;
  }
  .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrap-raw{
    width: 28%;
  }
  .wrap::after{
    content: "";
    display: block;
    width: 28%;
  }
  #header{
    height: 70px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#333;
    color:#fff;
    text-align: center;
    padding: 20px;
  }
  #header.fixed{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
  }
  nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    }
    
    nav ul li a{
    text-decoration: none;
    color: #FFF;
    padding:10px;
    }
    
    section{
    padding:300px 0;
    }
  .logo-width{
    width: 320px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .about-image{
    width: 100%;
  }
  .none_sm{
    display: none;
  }
  .background{
    background: url('session_new.jpg') center no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
  }
  .background h2{
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Arial Rounded MT Bold','Franklin Gothic Medium',sans-serif;
    color: gray;
  }
}
